{% extends 'base.html.twig' %}



{% block body %}

   <h1>{{ user.firstname }} {{ user.lastname }}</h1>

    <p>Email : {{ user.email }}</p>
    <p>Téléphone : {{ user.phoneNumber }}</p>
    {# <p>Image : <img src="{{ asset('uploads/pictures/' ~ beneficiary.picture)}}" width = "70px"></p> #}
    <p>Département : {{ user.department }}</p>
    <p>Biographie : {{ user.bio }}</p>

    <a class="btn btn-sm btn-primary" href="{{ path('front_user_edit', {id: user.id}) }}">Modifier</a>

    <hr>

    {# Flash message #}
{{ include('front/_flash_messages.html.twig') }}
{# Beneficiary's Requests #}

<table class="table table-striped">
    {# En-têtes #}
  <thead>
    <tr>
     <th scope="col">Id</th>
     <th scope="col">Catégorie</th>
      <th scope="col">Titre</th>
      <th scope="col">Contenu</th>
     
      
         {% if user.roles[0] == "ROLE_BENEFICIARY" %}
         <th scope="col">Intervention</th>
         {% elseif user.roles[0] == "ROLE_VOLUNTEER" %}
         <th scope="col">Disponibilité</th>
        {% endif %}
         <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>

    {% if user.roles[0] == "ROLE_BENEFICIARY" %}


            <h2>Liste des demandes</h2>
        <a class="btn btn-sm btn-success mb-4" href="{{ path('front_request_add') }}">Ajouter une demande</a>
        {# Bénéficiaire #}
        {% for request in user.requests %}
        <tr>
        <th scope="row">{{ request.id }}</th>
        <td>{{ request.category }}</td>
        <td>{{ request.title }}</td>
        <td>{{ request.content }}</td>
        <td>{{ request.interventionDate|date('m/d/Y')}}</td>
         <td><form action="{{ path('front_request_delete', {id:request.id}) }}" onsubmit="return confirm('Voulez-vous supprimez : {{ request.title|e('js') }} ?')" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
            <a class="btn btn-sm btn-primary mb-2" href="{{ path('front_request_edit', {id: request.id}) }}">Modifier</a>
            <button class="btn btn-sm btn-danger" type="submit" >Supprimer</button>
          </form>
      </td>
        </tr>
        {% endfor %}



    {% elseif user.roles[0] == "ROLE_VOLUNTEER" %}


       <h2>Liste des propositions</h2>
    <a class="btn btn-sm btn-success mb-4" href="{{ path('front_proposition_add') }}">Ajouter une proposition</a>
    {# Bénévole #}
    {% for proposition in user.propositions %}
    <tr>
      <th scope="row">{{ proposition.id }}</th>
      <td>{{ proposition.category }}</td>
      <td>{{ proposition.title }}</td>
      <td>{{ proposition.content }}</td>
      <td>{{ proposition.disponibilityDate|date('m/d/Y')}}</td>
      <td><form action="{{ path('front_proposition_delete', {id:proposition.id}) }}" onsubmit="return confirm('Voulez-vous supprimez : {{ proposition.title|e('js') }} ?')" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
            <a class="btn btn-sm btn-primary mb-2" href="{{ path('front_proposition_edit', {id: proposition.id}) }}">Modifier</a>
            <button class="btn btn-sm btn-danger" type="submit" >Supprimer</button>
          </form>
      </td>
    </tr>
    {% endfor %}


    
    {% endif %}

  

  </tbody>
</table>



{% endblock %}